<div class="unit one-fifth hide-on-mobiles">
  <aside>
    {% if page.collection == "books" %}
    {% assign book_name = page.title %}
    {% assign book_collection = site.collections | where: "label", page.collection_label | first %}
    {% else %}
    {% assign book_collection = site.collections | where: "label", page.collection | first %}
    {% assign book_name = book_collection.book_name %}
    {% endif %}

    <h4>{{ book_name }}</h4>
    <ul>
      {% for doc in book_collection.docs %}

      {% if doc.first_in_chap %}
      <li>
      <ul>
      {% endif %}
        <li {%- if page.url == doc.url %} class="current" {%- endif -%}>
          <a href="{{ doc.url }}">{{ doc.menu_name }}</a>
        </li>
      {% if doc.last_in_chap %}
      </ul>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </aside>
</div>
